body{
    color: #333333
}

h1{
    text-align: center;
    font-size: 1.4em;
}
h2 {
    color: #0f4c81;/*文字色*/
    /*線の種類（点線）2px 線色*/
    border-bottom: dashed 2px #b9232a;
  }

header{
    text-align: center;
    padding: 2em;
}

span.pref{
    display: block;
    width: 80px;
    text-align: center;
    padding: 2px;
    background-color: #b9232a;
    color: aliceblue;
    font-size: 14px;
    border-radius: .2em;
    margin-bottom: 1em;
}
